<section>
    <div class="success">
    <%if(success) { %>
        <% success %>
    <%}%>
    </div>
    <div  class="message">
    <%if(message) { %>
        <%message%>
    <%}%>
    </div>

</section>