body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    height: 100vh;
}


nav{
    margin: 0px;
    display: flex;
    padding-left: 9px;
    font-size: large;
    font-family:sans-serif;
    justify-content: space-between;
    /*background-color: rgb(255 177 0 / 82%)*/
    background-color:rgb(12 8 39)

}
.btn-nav{
    color: white!important;
    margin: 4px;
    font-size: auto; 
}

.btn-nav:hover{
    background-color: white!important;
    color: rgb(12 8 39) !important;
}


#btn-nav{ 
    width:15%;
    margin: 4px;
    font-size: auto; 
    text-align: center;
    text-decoration: none;
    color: #000000; 
    background-color: #fffaac;
    border: 1px solid #718a6d; 
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}
  nav h1{
      margin: 0px;
      padding: 0px;
      font-size: x-large;
      display: flex;
      color: white;
    align-items: center;
  }

  #btn-nav:hover, .btn-primary:hover { 
    cursor: pointer;  
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #4c00ff; 
  }


/*************************LOGIN***************************/
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBody{
    background-image: linear-gradient(275deg, #ffe9b7 0, #ffebb6 7.14%, #f9eeb7 14.29%, #f2f0b8 21.43%, #eaf2ba 28.57%, #e2f4bd 35.71%, #dbf5c1 42.86%, #d3f7c6 50%, #cbf8cb 57.14%, #c4fad1 64.29%, #bdfbd7 71.43%, #b6fbde 78.57%, #b0fce5 85.71%, #aafcec 92.86%, #a6fcf3 100%);
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.usuario{
    margin: 5px;
    padding: 6px;
    background-color: #ffffff00;
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    border-color: #181f1b;
    font-size: medium;
}

.btn-login{
    background-color: #718a6d;
    color: white;
}

#title{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: medium;
    width: 65%; 
    padding: 10px;
    text-align: center;
}

#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 31%;
    min-width: min-content;
    height: 60%;
    border-radius: 5px;
    background: rgb(255 255 228 / 22%);
    box-shadow: 1px 1px 15px #5f6157;
  }

/*****************REGISTER********************/

.registerPage{
    background-image: linear-gradient(275deg, #ffe9b7 0, #ffebb6 7.14%, #f9eeb7 14.29%, #f2f0b8 21.43%, #eaf2ba 28.57%, #e2f4bd 35.71%, #dbf5c1 42.86%, #d3f7c6 50%, #cbf8cb 57.14%, #c4fad1 64.29%, #bdfbd7 71.43%, #b6fbde 78.57%, #b0fce5 85.71%, #aafcec 92.86%, #a6fcf3 100%);
    width: 100%;
    height: 100%;
}

#containerReg{
    margin-top: 2em!important;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 71%;
    min-width: min-content;
    height: 98%;
    border-radius: 5px;
    background: rgb(255 255 228 / 97%);
    box-shadow: 1px 1px 15px #5f6157;
  }

  .register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-top: 8px;
    font-size: 15px;
}

  .registerBody{
      display: grid;
     
  }


  .registerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    padding: 4em;
    text-align: center;
    align-items: center;
  }

/*******************INDEX********************/

.intro{
    overflow-x: hidden;
    margin-top: 3em;
    padding-top: 1.2em;
    background-image: url(https://ak.picdn.net/shutterstock/videos/1031936000/thumb/8.jpg?ip=x480);
    width: auto;
    text-align: center;
    color: white;
}
.createGame{
    min-height: 2em;
    margin-top: 2em!important;
    background-color: #10ceff87!important;
    color: white!important;
    border: none;
    width: 100%;
    font-style: oblique;
    font-variant-caps: all-small-caps;
    border-top: 1px solid white!important;
    display: flex;
    justify-content: center;
    align-items: center;

}
.indexCard{
    min-width: 300px;
    max-width: 500px!important;
}

.createGame:hover{
    background-color: #2f9bb7!important;
}
.icon{
    font-size: xx-large;
    color: #0c0827;
}
.card-body{
    color: #0c0827;
}
/*************POPUP*************************/
.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: max-content;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target{
    visibility: visible;
    opacity: 1;
  }

  #popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 10% auto;
    transition: all 2s ease-in-out;
  }

  #cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}

/****************EDIT CARD******************/

.editCard{
    display: grid;
}

.initial{
    padding: 1em;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    margin: 1em;
    background-color: #ffbb3b;
    color: black;
    width: 96%;
}
.correctAnswers{
    margin: 1em;
    padding: 1em;
    background-color: rgb(255 187 59);
    text-align: center;
    color: black;
    width: auto;
    border: 1px solid white;
    border-radius: 8px;
}
.editBody{
    margin-top: 3em !important; 
    background-color: rgb(12 8 39); 
    color: white; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/****************RESULTADO******************/
.result{
    display: grid;
}
.botonFilter{
    width: 100%!important;
    background-color: #4891c4!important;
    border-radius: 0px!important;
    color: white!important;
    position: fixed;
    z-index: 3;
}

.resultaside{
    /*background-image: url(https://thumbs.dreamstime.com/b/fondo-azul-abstracto-de-azul-marino-elegante-30802629.jpg);*/
    background-image:radial-gradient(circle at 80.14% 81.41%, #f5cfeb 0, #98def1 25%, #4e81b9 50%, #170a83 75%, #0b0d10 100%);
    min-height: 100vh;
    height: 100%;
    border-width: 1px;
    border-radius: 5;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid #718a6d; 
}
.formFilter{
    padding: 0.5em;
}
.form-control{
    margin-bottom:9px
}
.form-label{
    font-size: large;
}

.li{
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 0px;
    margin: 0px;
    align-items: center;
    flex-direction: row;
}

.lis{
    font-size: medium;
}
.accordion-button{
    display: initial!important;
}
.table{
    font-size: medium;
}

.card{
    margin: 2em!important;
    width: 90%!important;
    border-radius: 20px;
    background-color: white!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 3px 4px rgb(0 0 0 / 34%); 
    position: initial!important;
}

#messageMal{
    background-color: #f72c2cbf;
    padding: 5px;
    margin: 9px;
    border-radius: 10px;
    color: white;
    background-color: #f72c2cbf;
    font-family: unset;
}

/*******************************CREATE*******************************/
.circuloCreate {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: orange;
    border: 2px solid #765d30;
    font-weight: 700;
    color: #ffffff;
}
.circulo {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid blue;
}
.background{
    background-image: url(https://ak.picdn.net/shutterstock/videos/1031936000/thumb/8.jpg?ip=x480);
    height: 100%;
}

.bodyCreate{
    background-image: url(https://ak.picdn.net/shutterstock/videos/1031936000/thumb/8.jpg?ip=x480);
    overflow: hidden;
    display: grid;
    height: 100vh;
    grid-template-rows: 8% 92%;
}
.createAside{
    background-color: #315f8e; 
    overflow: scroll; 
    min-height:auto; 
    overflow-x: hidden;
}
.createjson{
    display: grid;
}

.createBoton{
    margin-left: 20px!important; 
    float: right !important; 
    color: #ffbb3b!important; 
    border-color: #ffbb3b!important;
}

.graphicsBody{
    height: 100%;
    display: grid; 
    grid-template-rows: 7% 93%;
   
}
/*
#blankedMessage{
    opacity: 0;
}
.small-text{
    font-size: calc(10px + 1vw);
} */ 

/*div{
    font-size: calc(14px + 1vw);
}*/


/*****************COLOCACIÓN***************************/
/* Portrait and Landscape changes */
@media (orientation: landscape) {
    .registerBody{
        grid-template-columns: 40% 60%;
    }
    #canvas{
        grid-template-rows: 55% 45%;
    }
    #answers{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .result{
        grid-template-columns: 25% 75%;
    }
    .resultPortrait{
        visibility: hidden;
        height: 0px;
    }
    .editCard{
        grid-template-columns: 40% 60%;
    }
    .createjson{
        height: 100%;
        grid-template-columns: 35% 65%;
    }
    .navBot{
        flex-direction:row;
    }
    .botonFilter{
        visibility: hidden;
    }
    .createBoton{
        margin: 1em!important;
    }
    .graphics{
        flex-direction: row;
    }
}
@media (orientation: Portrait) {
    #canvas{
        grid-template-rows: 30% 70%;
    }
    #answers{
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }
    #container{
        width: 81%;
    }
    .registerPage{
        height: 120%;
    }
    .registerBody{
        grid-template-rows: 80% 20%;
    }
    .registerText{
        padding: 2em;
    }
    #containerReg {
        width: 81%;
    }
    .result{
        font-size: small;
        grid-template-rows: 0% 100%;
        visibility: visible;
    }
    .resultaside{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .m-5{
        margin: 3px !important;
    }
    .createjson{
        grid-template-columns: 0% 100%;
        overflow: scroll!important;
    }
    .navBot{
        flex-direction: column;
    }
    .createBotons{
        flex-direction: column;
    }
    .createBoton{
        margin-top: 1em!important;
        margin-bottom: 1.5em;
        width: fit-content!important;
    }
    .botonAside{
        display: grid;
        grid-template-rows: 7% 93%;
    }
    .graphics{
        flex-direction: column;
    }
    .graf{
        max-width: 95%;
    }
    .cardMov{
        margin: 0px!important;
        align-self: center;
    }
}