<script src="./JUMICI/scene_class.js"></script>
<script src="./JUMICI/actions.js"></script>
<script src="./JUMICI/main_controller.js"></script>
<script type="text/javascript">
    segundos = 0;
    minutos = 0;
    horas= 0;
    textoSeg="00";
    textoMin="00";
    textoHoras="00";
    function tiempo() {
        segundos++;
        if(segundos==60){
            minutos++;
            segundos = 0;
        }
        if(minutos==60){
            horas++;
            minutos=0;
        }
        if(minutos<10){
            textoMin="0"+minutos;
        }
        else{
            textoMin=minutos;
        }
        if(segundos<10){
            textoSeg="0"+segundos;
        }else{
            textoSeg=segundos;
        }
        document.getElementById("temporizador").innerHTML = textoHoras + ":" + textoMin + ":" + textoSeg;
    }
    //Cada 1 segundo se crea un nuevo elemento
    setInterval(function () {
        tiempo();
    }, 1000);

</script>


<section id="game">
    <nav class="loginNav">
        <h1>WELCOME TO JUMICI</h1>
        <div id="temporizador"></div>
        <div>
        <a href="/index" class="btn btn-outline-dark btn-nav">Escenas</a>
        <a href="/logout" class="btn btn-outline-dark btn-nav">Log out</a>
        </div>
    </nav>
    <div id="canvas">
        <!-- Dialog View -->
        <div id="background" state>
        </div>
        <div id="left" class="character out"></div>
        <div id="right" class="character out"></div>
        <div id="dialog" class='out'>
            <div id="speaker"><span id="blankedMessage">Title</span></div>
            <div id="message"></div>
        </div>

        <!-- Test View -->
        <div id="test" class='out'>
            <div id="question"></div>
            <div id="answers">
                <div id="button-A" class="test-button">A) <div id="text-A" class="small-text"></div></div>
                <div id="button-B" class="test-button">B) <div id="text-B" class="small-text"></div></div>
                <div id="button-C" class="test-button">C) <div id="text-C" class="small-text"></div></div>
                <div id="button-D" class="test-button">D) <div id="text-D" class="small-text"></div></div>
            </div>
        </div>

    </div>
</section>